@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7b2cbf;
  --bg-dark: #1a1a2e;
  --card-bg: #16213e;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-dark);
  color: white;
}
